.header__link
    {
        position: absolute; /*position absolute par rapport au header (dans le layout) qui est en position relative*/
        display: flex;
        margin-top: 30px;
        margin-left: 20px;
        border: none;
        color: black;
        text-decoration: none;

        .fas
        {
            font-size: 1.5em;
        }
    }


.location__btn
{ 
    @include bouton-action;
    margin: 20px 20px 30px 20px; 
}


                    /*A C C U E I L */

.carte__legende__btn
{
    width: 10%;
    float: right; 
    font-size: 1.5em;
    padding: 0px;
    margin-top: 10px;
    border: none;
    background-color: white;

    .fa-heart              
    {
        font-weight: 300;
        transition: all 1s;
        z-index: 1;

        &:hover
        {
            font-weight: 900;
            -webkit-gradient: $linear-gradient;
            background-image: $linear-gradient;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
    
}

                    /* M E N U*/





.menu__btn
{
    width: 20%;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
    border: none;
    background-color: $background-color;

    .fa-heart               
    {
        font-weight: 300;
        transition: all 1s;

        &:hover
        {
            font-weight: 900;
            -webkit-gradient: $linear-gradient;
            background-image: $linear-gradient;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }
}

/*TEST ORGANISATION NOUVEAU BOUTON PLAT*/ /*<!--ATTENTION JE TRAVAILLE SUR LA BRANCHE GIT "PLAT"!-->*/




/*TEST ORGANISATION NOUVEAU BOUTON PLAT*/


.entree__btn, .plat__btn, .dessert__btn
{
    @include btn-entree-plat-dessert;
    position: relative;
    overflow: hidden;

    h3
    {
        height: 25px;
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: normal;
    }

    .plat__accompagnement
    {
       line-height: normal;
       margin-top: 5px;
       margin-bottom: 10px;
    }
}


.entree__btn, .plat__btn, .dessert__btn
{
    
    .plat__details
    {
        display: flex;
        justify-content: space-between;
        width: 100%;                /*appliquer une largeur de départ pour réaliser notre animation*/
        transition: width 0.5s ease-out;

        .plat__accompagnement
        {
            line-height: normal;
        }
    }
    
    
    .plat__prix
    {
        font-size: 0.9em;
        font-weight: 700;
        line-height: normal;
        margin-top: auto;
        margin-bottom: 10px;
        transition: all 0.5s ease-out;
    }

    .fond-coche
    {
        @include encoche;
        position: absolute;
        transform:translateX(100%);
        transition-property: transform;
        transition: all 0.5s ease-out;

        .fa-circle-check                  /*Je ne sais pas...*/
        {
            position:relative;
            font-size: 2em;
            display: flex;
            justify-content:center;
            color: white;
            margin-top: 22px;
            transition: all 0.5s ease-out;
        }
    }
}


.entree__btn, .plat__btn, .dessert__btn
{
    &:hover
    {
                                                    /*Comment faire tourner l'encoche ?*/
        .fond-coche
        {
            @include encoche;
            transform: translateX(0%);
            position: absolute;

            .fa-circle-check                  /*Je ne sais pas...*/
            {
                position:relative;
                font-size: 2em;
                display: flex;
                justify-content:center;
                color: white;
                margin-top: 22px; 
                transform: rotate(720deg);               
            }
        }

        

        .plat__etdetails
        {   
            
            h3, p
            {
                width: 70%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
               /*ellipsis ne fontionne pas sur les accompagnements...*/

        }

        .plat__prix
        {
            margin-right: 20%;
        }
        
    }
}



/*Apparition progressive des plats*/


/*création de la keyframe d'apparition progressive*/
@keyframes fade-1    
{
    from {
        display: none;
        opacity:0;

    }
    to {
        display: block;
        opacity:1;}
}

/*mise en place de la keyframe créée sur les éléments souhaités*/

.section-entree
{
    animation: fade-1 3s;
}

.section-plat
{
    animation: fade-1 3s;
}

.section-dessert
{
    animation: fade-1 3s;
}

/*mise en place de la keyframe de decalage progressif vers le haut*/

@keyframes btn-up
{
    from{margin-top: 30px;}
    to{margin-top: 0px;}
}

/*mise en place de cette keyframe sur les elements souhaités*/

.plat__all
{
    animation: btn-up 3s ease-out;
}
        

/*Bouton "commander"*/
.menu__order
{
    display: flex;
    justify-content: center;

    button
    {
        @include bouton-action;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}