@import url(/public/CSS/normalize.css);

*
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

li, button
{
    cursor: pointer;
}

.step li
{
    cursor: auto;
}

.step__list__item
{
    font-weight: 700;
}

                    /* M E N U */

.menu__titre
{
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
}

.plat__titre
{
    font-size: 17px;
    font-weight: 400;

    &:after             /*soulignement des titres*/
    {
        content:'';
        display: block; /*fait apparaître l'élément*/
        width: 12%;
        height: 2px;
        margin-top: 5px;
        background-color: $tertiary-color;
    }
    
}

.plat__all
{
    .accompagnement
    {
        font-size: 0.9em;
    }
}

