*
{
    font-family: 'Roboto', sans-serif;
}


                    /*H E A D E R*/


header           
{
    width: 100%;
    text-align: center;

    .header__logo
    {
        width: 50%;
        margin: 30px 10px 10px 10px;
    }
}


                    /*Z O N E  D E  R E C H E R C H E*/

form
{
    text-align:center;
    padding: 20px 0px;
    background-color: $background-color;
    box-shadow: inset 0px 2px 4px rgb(170, 170, 170); /*valeur 1= ombre verticale, valeur 2= ombre horizontale, valeur 3= flou*/

    input
    {
        width: 45%;
        background-color: $background-color; 
        border: none;
        font-weight: 700;
        font-size: 1.1em;
        opacity: 0.8;
    }

    .fa-map-marker-alt
    {
        font-size: 1.2em;
        opacity: 0.8;
        padding-right: 10px;
    }
}
                   
                    /*Z O N E  D E  R E S E R V A T I O N*/

.location
{
    text-align: center;
    background-color: lighten($background-color, 5%);
    padding-bottom: 40px;
}

.location__titre
{
    margin-top: 50px;
    width: 70%;
    @include intro-accueil;
    @include titres-accueil;
}

.location__phrase
{
    @include intro-accueil;
    width: 80%;
    font-size: 1em;
    opacity: 0.7;
}




                    /*F O N C T I O N N E M E N T*/

.step /*propriétés des sections "fonctionnement"*/
{
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

.step__list
{
    list-style: none; /*On retire les puces numérotées par défaut pour en générer de nouveaux, plus faciles à styliser*/
    padding-left: 0px; /*On retire le padding présent sur la gauche, afin que "fontionnement" soit aligné avec les éléments de la liste*/
    counter-reset: li; /*On initialise le compteur à 0*/
}

.step__item
{
    counter-increment: step-counter; /*Incrémenter: augmente la valeur d'un compteur CSS, d'une valeur donnée. 
                                        Ici, le compteur se nomme "étape"*/
    width: 90%;
    margin-bottom: 20px;            /*espacement entre chaque élément de la liste*/
    margin-left: auto;              /*Centre les éléments dans la page*/
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: lighten($background-color, 5%);
    box-shadow: darken($background-color, 10%) 5px 5px 10px;

    &::before                           /*l'esperluette "&", permet de spécifier l'application du style sur le premier élément enfant*/
    {
        content: counter(step-counter); /*génère le contenu d'un élément: ici, les puces numérotée*/
        background-color: $primary-color;
        color: white;
        padding: 5px 10px;
        margin-right: 20px;
        border-radius: 20px;
    }
}

.step__item .fas
{
    margin-right: 20px;
    color: lighten(black, 50%);
}

.step__item.--active
{
    background-color: lighten($primary-color, 35%);
}

.fas.fa-store.--active
{
    color: $primary-color;
}

                    /*R E S T A U R A N T S*/

.restaurant
{
    background-color: lighten($background-color, 5%);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}

.restaurant__titre
{
   width: 90%; 
   margin-left: auto;
   margin-right: auto;
}

.restaurant__carte
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: darken($background-color, 10%) 5px 5px 10px ;

        .carte__img
        {
            width: 100%;
            height: 175px;
            border-radius: 20px 20px 0px 0px;
            object-fit:cover;
            object-position: center;
        }
}

.restaurant__carte span
{
    position: absolute;  /*permet de faciliter le positionnement de l'étiquette "nouveau"*/
    object-position: right top;
    right: 5%; /*positionne l'étiquette à 5% du bord de son contenant*/
    margin: 10px;
    padding: 7px 10px;
    border-radius: 3px;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 40%);
    font-size: 0.9em;
    font-weight: 700;
}

.carte__legende
{
    width: 90%;
    padding: 5px;
    margin: 5px auto 5px auto;

    .carte__titre 
    { 
        width: 100%;
        margin-top: 5px;
        margin-bottom: 7px;
    }

    .carte__lieu
    {
        margin-top: 5px;
    }

}