@mixin titres-accueil
{
    font-weight: 700;
    font-size: 1.5em;
}

@mixin intro-accueil 
{
    margin-left: auto;
    margin-right: auto;
}

@mixin bouton-action
{
    font-weight: 400;  
    width: 50%;
    padding: 15px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 5px 5px #AEAEAE;
    background: $linear-gradient;
    color: white;
    
        &:hover
        {
            opacity: 0.9;
            box-shadow: 0px 5px 5px darken(#AEAEAE, 15%); 
        }
}