/*Création des propriétés raccourcies pour éviter les répétitions à rallonge*/

@mixin titres-accueil
{
    font-weight: 700;
    font-size: 1.5em;
}

@mixin intro-accueil 
{
    margin-left: auto;
    margin-right: auto;
}

@mixin bouton-action
{
    font-weight: 400;  
    width: 50%;       
    padding: 15px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 5px 5px #AEAEAE;
    background: $linear-gradient;
    color: white;
    
        &:hover
        {
            opacity: 0.9;
            box-shadow: 0px 5px 5px darken(#AEAEAE, 15%); 
        }
}

@mixin btn-entree-plat-dessert
{
    width: 90%;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    font-size: 1em;
    box-shadow: 0px 5px 5px lighten(#AEAEAE, 20%);
    position: relative;
    display: flex;
    justify-content: space-between;
}


@mixin encoche                   
{
    height: 100%;
    width: 20%;
    border-radius: 0px 20px 20px 0px;
    position: absolute;
    left: 80%;
    top: 0%;
    background-color: $tertiary-color;

}



@mixin loader
/*creation loader*/
{
    /*placement loader milieu page*/
    width: 100vw;
    height: 100vh;
    position:fixed; /*permet de fixer l'élément sur toute la page (peut importe si l'on scroll)*/
    top:0;
    animation: spin 2s;
    animation-fill-mode: forwards;
}

